[submodule "Java-CustomerDetailsService"]
	path = Java-CustomerDetailsService
	url = https://github.com/ThatDRW/Java-CustomerDetailsService
[submodule "Angular-CustomerDetailsService"]
	path = Angular-CustomerDetailsService
	url = https://github.com/ThatDRW/Angular-CustomerDetailsService
